body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    text-align: center;
}

#page-navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page-link {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 5px;
}

#content {
    text-align: center;
    margin-top: 20px;
}
