body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    margin-top: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.references-section {
    height: 400px; /* Adja meg a szekció magasságát, amin belül a görgethetőség megjelenik */
    overflow-y: scroll; /* Függőleges görgethetőség engedélyezése */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}
